# IntelliJ: share .idea/ except user-specific files
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
